

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>乘车方案查询</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<h1>查询公交路线</h1>
<br/>你好：<a sec:authentication="name"></a>
<p>
    <center>

        <form th:action="@{/user/inquiry/inquiryRoute/result}" method="get">
<p>请输入公交车号：<input type="text" name="busNum"/></p>
<input type="submit" value="查询">

</form>
</center>
</p>

<p>
    <a th:href="@{/user/inquiry/inquiryStation}">  查询公交站点信息</a>
    <a th:href="@{/user/inquiry/inquiryPlan}"> | 乘车方案查询</a>
    <br/><hr/>

<form th:action="@{/logout}" method="post">
    <input type="submit" class="btn btn-primary" value="注销"/>
    &nbsp; &nbsp; &nbsp;
    <a th:href="@{/user/inquiry}" class="btn btn-info">返回查询页</a>
</form>


</p>

</body>
</html>